span {
    font-size: 0.75rem;
}

.errorMessage {
    display: flex;
    justify-content: center;
    color: var(--color-error);
    width: 100%;
    padding: 0.25rem;
}

.title1, .title2, .title3 {
    color: var(--color-grey-0);
}

.text1, .text2, .text3 {
    color: var(--color-grey-1);
}

.title1 {
    font-size: 1.75rem;
}

.title2 {
    font-size: 1.5rem;
}

.title3 {
    font-size: 1rem;
}

.text1 {
    font-size: 1rem;
}

.text2 {
    font-size: 0.75rem;
}

.text3 {
    font-size: 0.5rem;
}